// app global css in SCSS form
a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $secondary;
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-button, ::-webkit-scrollbar-corner {
  background: lighten($secondary, 10);
}

::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-button:hover {
  background: lighten($secondary, 15);
}
